@charset "utf-8";

body{margin: 0px;font-family: "open Sans";font-size: 12px;color: #202020;}
#wraper{min-height: 600px;}
h1{font-family: "open Sans";font-size: 40px;color: #0054a4;text-shadow: 0px 0px #065aab;margin: 0px;}
img{ border: none;}
.clear{    clear: both;}
.fix_width{    max-width: 1024px;    margin: 0px;}
header
{
    width: 100%;
    height: 30px;
    background-color: #0373be;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0373be), to(#1d8bd1));
    background-image: -webkit-linear-gradient(top, #0373be, #1d8bd1);
    background-image: -moz-linear-gradient(top, #0373be, #1d8bd1);
    background-image: -ms-linear-gradient(top, #0373be, #1d8bd1);
    background-image: -o-linear-gradient(top, #0373be, #1d8bd1);
    background-image: linear-gradient(top, #0373be, #1d8bd1);
    box-shadow: 0px -8px 12px -9px #222222 inset;
}


a
{
    text-decoration: none;
    color: #3e0103;
}

    a:hover
    {
        color: #1887bf;
    }

.header_gray
{
    display: inline-block;
}

.image
{
    display: inline-block;
}

    .image img
    {
        display: block;
    }

.logo
{
    display: inline-block;
    text-align: left;
    max-width: 30%;
}

.logo_right
{
    display: inline-block;
    width: 68%;
    margin-top: 0px;
}

    .logo_right span
    {
        font-family: "open Sans";
        font-size: 12px;
        color: #202020;
    }

.logo_header
{
    width: 100%;
    background-color: #f7f7f7;
    height: auto;
    display: inline-block;
    padding-bottom: 20px;
    border: 1px solid #d2d2d2;
    box-shadow: 0px -2px 8px -7px #222222 inset;
}

.containt
{
    height: 550px;
    border: 1px solid #e2e2e2;
    margin-top: 20px;
}

.leftnav
{
    display: inline-block;
    width: 22%;
    float: left;
    border: 1px solid #e2e2e2;
    margin-top: 5px;
}

.rightbox
{
    display: inline-block;
    width: 77%;
}
/*---section-----*/
.section1
{
    margin-top: 12px;
    width: 1024px;
}

.leftside_box
{
    display: inline-block;
    float: left;
    margin-left: 0px;
    width: 220px;
    /*height: 426px;*/
    border: 1px solid #d4d4d4;
    background-color: #ece9e9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ece9e9), to(#f4f4f4));
    background-image: -webkit-linear-gradient(top, #ece9e9, #f4f4f4);
    background-image: -moz-linear-gradient(top, #ece9e9, #f4f4f4);
    background-image: -ms-linear-gradient(top, #ece9e9, #f4f4f4);
    background-image: -o-linear-gradient(top, #ece9e9, #f4f4f4);
    background-image: linear-gradient(top, #ece9e9, #f4f4f4);
}

.leftside_innerbox
{
    width: 210px;
    height: auto;
    border: 1px solid #d4d4d4;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hstrip_top
{
    background-color: #f2fbff;
    height: 25px;
    border-bottom: 1px solid #d4d4d4;
}

.hstrip_bottom
{
    background-color: #f7f7f7;
    height: 18px;
    border-top: 1px solid #d4d4d4;
}

.middle_box
{
    display: inline-block;
    width: 785px;
    min-height: 427px;
    border: 1px solid #d4d4d4;
    margin-left: 14px;
}

.middle_innerbox
{
    width: 775px;
    height: auto;
    border: 1px solid #d4d4d4;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rightside_box
{
    display: inline-block;
    float: right;
    margin-right: 5px;
    width: 250px;
    height: auto;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

.left_side_box
{
    display: inline-block;
    float: left;
}

.leftside_box2
{
    margin-left: 5px;
    width: 420px;
    height: auto;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

.leftside2_innerbox
{
    width: 410px;
    height: auto;
    border: 1px solid #d4d4d4;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.leftside_box3
{
    margin-left: 5px;
    margin-top: 12px;
    width: 420px;
    height: auto;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

.rightside_box2
{
    display: inline-block;
    float: right;
    margin-right: 5px;
    width: 580px;
    height: auto;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

.rightside2_innerbox
{
    width: 570px;
    height: auto;
    border: 1px solid #d4d4d4;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.left_nav
{
    margin: 0px;
}

    .left_nav ul
    {
        list-style: none;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        text-decoration: none;
        vertical-align: middle;
    }

        .left_nav ul li
        {
            font-family: "Open Sans";
            font-size: 14px;
            color: #074886;
            padding: 0px 0px 0px 0px;
            text-decoration: none;
            vertical-align: middle;
            border-bottom: 1px dotted #7e7d7d;
            line-height: 35px;
            margin-left: 0px;
            text-align: left;
        }

    .left_nav li a
    {
        font-family: "Open Sans";
        font-size: 14px;
        color: #074886;
        text-decoration: none;
        vertical-align: middle;
        padding-left: 10px;
    }

    .left_nav a
    {
        text-decoration: none;
    }

    .left_nav li a:hover
    {
        color: #032954;
    }

h3.upcoming-head
{
    margin-top: 0px;
    display: block;
    background: #faf0e9;
    padding: 5px;
    font-family: "Open Sans semibold";
    font-size: 14px;
    color: #3e0103;
    border-bottom: solid 1px #d4d4d4;
    width: 765px;
    text-align: left;
}

.myiconcontainer1
{
    margin: 2px;
    padding: 5px; /*float:left;*/
    vertical-align: top;
    cursor: pointer;
}

    .myiconcontainer1 img
    {
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 7px;
        width: 48px;
        vertical-align: top;
    }

.myiconcontainer
{
    margin: 5px;
    padding: 5px;
    float: left;
    vertical-align: top;
    cursor: pointer;
}

    .myiconcontainer img
    {
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 7px;
        width: 48px;
        vertical-align: top;
    }

    .myiconcontainer:hover
    {
        font-weight: bold;
    }

.user-dashboardh3
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #555;
    text-align: center;
    font-weight: normal;
    display: block;
    margin: 0 auto;
}


.user-dashboardh_new
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #007ec9;
    text-align: center;
    font-weight: normal;
    display: block;
    margin: 0 auto;
}

.user-dashboardh_new_black
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
    text-align: center;
    font-weight: normal;
    display: block;
    margin: 0 auto;
}

table.action
{ /*	border-collapse:collapse;*/
}

    table.action tr td
    {
        text-decoration: none;
        border: solid 1px #fff;
        border-bottom: solid 1px #e6e6e6;
    }

        table.action tr td:hover
        {
            background: #F9F9F9;
            border: solid 1px #D4D4D4;
            border-bottom: solid 1px #d4d4d4;
        }

        table.action tr td a
        {
            text-decoration: none;
        }

            table.action tr td a:hover
            {
                text-decoration: none;
                font-size: 12px;
                font-weight: bold;
            }

/*------------section-----*/
footer
{
    width: 100%;
    background-color: #ffb94b;
    display: inline-block;
    color: white;
    font-family: "Open Sans semibold";
    font-size: 10px;
    padding-top: 10px;
    color: #8f5a0a;
    padding-bottom: 11px;
    position: fixed;
    bottom: 0;
    left: 0;
}


/*-- Buttons style */
.button1
{
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    float: left;
    height: 35px;
    padding: 0;
    margin-left: 3px;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

.button2
{
    -moz-box-shadow: inset 0px 1px 0px 0px #fceaca;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fceaca;
    box-shadow: inset 0px 1px 0px 0px #fceaca;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffce79), color-stop(1, #eeaf41) );
    background: -moz-linear-gradient( center top, #ffce79 5%, #eeaf41 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
    background-color: #ffce79;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    text-indent: 0;
    border: 1px solid #eeb44f;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 35px;
    line-height: 32px;
    width: 90px;
    text-decoration: none;
    margin-left: 4px;
    text-align: center;
    text-shadow: 1px 1px 0px #ce8e28;
}

    .button2:hover
    {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeaf41), color-stop(1, #ffce79) );
        background: -moz-linear-gradient( center top, #eeaf41 5%, #ffce79 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
        background-color: #eeaf41;
    }

    .button2:active
    {
        position: relative;
        top: 1px;
    }
/* Validation error message*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffc0c0;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
    text-align: left;
}

.validation-summary-valid
{
    display: none;
}
/* Success message*/
.info, .success, .warning, .error, .validation
{
    width: 50%;
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info
{
    color: #00529B;
    background-color: #BDE5F8;
}

.success
{
    color: #4F8A10;
    background-color: #DFF2BF;
}

.warning
{
    color: #9F6000;
    background-color: #FEEFB3;
}

.error
{
    color: #D8000C;
    background-color: #FFBABA;
}
/*-- Table css*/
#hor-minimalist-a
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 45px;
    width: 480px;
    border-collapse: collapse;
    text-align: left;
}

    #hor-minimalist-a th
    {
        font-size: 14px;
        font-weight: normal;
        color: #039;
        padding: 10px 8px;
        border-bottom: 2px solid #6678b1;
    }

    #hor-minimalist-a td
    {
        color: #669;
        padding: 9px 8px 0px 8px;
    }

    #hor-minimalist-a tbody tr:hover td
    {
        color: #009;
    }

#hor-minimalist-b
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 20px 10px 45px 0px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

    #hor-minimalist-b th
    {
        font-size: 13px;
        font-weight: normal;
        color: #074886;
        padding: 10px 8px;
        border-bottom: 2px solid #6678b1;
    }

    #hor-minimalist-b td
    {
        border-bottom: 1px solid #ccc;
        color: #669;
        padding: 6px 8px;
        word-break: break-all;
    }

    #hor-minimalist-b tbody tr:hover td
    {
        color: #009;
    }
/*--- Forms -- */
.form1
{
    width: 100%;
}

    .form1 label
    {
        width: 140px;
        font-size: 13px;
        font-weight: normal;
        color: #074886;
        padding: 10px 8px;
        float: left;
        text-align: left;
        margin-top: 4px;
    }





    .form1 input, textarea, select{float: left;width: 340px;height: 30px;margin-top: 3px;padding-left: 4px;}
    .form1 textarea{width: 470px;height: 220px;}
    .form1 button{float: left;width: 80px;height: 32px;}
    .form1 input[type=checkbox]{width:18px;height:18px;}
    .form1 fieldset
    {
        width: 95%;
        margin: 1.4em 0 0 1em;
        padding: 0.6em;
        float: left;
        text-align: left;
    }

    .form1 legend
    {
        font: bold 0.8em Arial, Helvetica, sans-serif;
        color: #00008B;
        background-color: #FFFFFF;
    }

.bigselect, .bigtext
{
    width: 95%;
}

.divrows
{
    width: 100%;
}

    .divrows .rlist
    {
        width: 100%;
        list-style: none;
        display: inline;
        margin: 0px;
        padding: 0px;
    }

        .divrows .rlist li
        {
            display: inline-block;
        }

        .divrows .rlist .ritem
        {
            width: 73%;
            display: inline-block;
            text-align: left;
        }

        .divrows .rlist .litem
        {
            width: 25%;
            padding-right: 10px;
            display: inline-block;
            text-align: left;
            vertical-align: top;
            padding-top: 5px;
            color: #1a69b1;
        }

.divpanel
{
    background-color: whitesmoke;
    border-radius: 7px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid silver;
    width: 95%;
}


.minilist-a
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 45px;
    width: 480px;
    border-collapse: collapse;
    text-align: left;
}

    .minilist-a th
    {
        font-size: 14px;
        font-weight: normal;
        color: #3e0103;
        padding: 10px 8px;
        border-bottom: 2px solid #6678b1;
    }

    .minilist-a td
    {
        color: #669;
        padding: 9px 8px 0px 8px;
    }

    .minilist-a tbody tr:hover td
    {
        color: #009;
    }

.minilist-b
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

    .minilist-b th
    {
        font-size: 13px;
        font-weight: normal;
        color: #3e0103;
        padding: 10px 8px;
    }

    .minilist-b td
    {
        border-bottom: 1px solid #ccc;
        color: #669;
        padding: 6px 8px;
    }

    .minilist-b tbody tr:hover td
    {
        color: #009;
    }


.searchButton
{
    -moz-box-shadow: inset 0px 1px 0px 0px #fceaca;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fceaca;
    box-shadow: inset 0px 1px 0px 0px #fceaca;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffce79), color-stop(1, #eeaf41) );
    background: -moz-linear-gradient( center top, #ffce79 5%, #eeaf41 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
    background-color: #ffce79;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    text-indent: 0;
    border: 1px solid #eeb44f;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    height: 22px;
    line-height: 20px;
    width: 60px;
    text-decoration: none;
    margin-left: 4px;
    text-align: center;
    text-shadow: 1px 1px 0px #ce8e28;
}

    .searchButton:hover
    {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeaf41), color-stop(1, #ffce79) );
        background: -moz-linear-gradient( center top, #eeaf41 5%, #ffce79 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
        background-color: #eeaf41;
    }

    .searchButton:active
    {
        position: relative;
        top: 1px;
    }

.searchBoxDiv
{
    width: 92%;
    margin-top: 25px;
}


.error
{
    width: 400px;
    border: 1px solid #D8D8D8;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 12px;
    font-weight: 600;
    background-color: rgb(255, 249, 242);
    color: rgb(211, 0, 0) !important;
    text-align: center;
    margin-top: 450px;
}

.error1
{
    width: 400px;
    border: 1px solid #D8D8D8;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 12px;
    font-weight: 600;
    background-color: rgb(255, 249, 242);
    color: rgb(211, 0, 0) !important;
    text-align: center;
}

/*text-transform: uppercase;*/
.requiredFields
{
    color: #F00;
    font-weight: 600;
    font-size: 15px;
    vertical-align: middle;
}

#errorMessage
{
    color: red;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.width-box
{
    width: 100px !important;
}

.crystalReportColor
{
    color: brown;
}

.success1
{
    color: #4F8A10;
    background-color: #DFF2BF;
    margin-top: 460px !important;
}
.grdSrNo{width: 18%;text-align: center;}
.grd-action{width: 29%;text-align: center;}