@model Rcsa.Web.Models.UserProfile
@{
    ViewBag.Title = "Forget Password";
}

@using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div id="login">                
        <h2><span>Reset password link sent on your registered email id. Please check your inbox and reset your password.</span>
        </h2>
        <div class="clear">&nbsp;</div>        
    </div>
}

