@{
    ViewBag.Title = "Report Issue";
}

    <div id="login">                
        <h1><span>Report has been sent. Our technical team will contact you soon.</span>
        </h1>
        <div class="clear">&nbsp;</div>        
    </div>

