@model Rcsa.Web.Models.LocalResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div id="login">
        <p>
            <img src="/images/logo.jpg" style="padding-top: 0px;width:160px;height:160px" /></p>
        <h1>Reset your password</h1>
        <fieldset id="inputs">
            @Html.PasswordFor(m => m.NewPassword, new { id="password",placeholder="New password",autofocus="", required=""})            
            @Html.PasswordFor(m => m.ConfirmPassword, new { id="password",placeholder="Confirm password",autofocus="", required=""})     
            <br />
        </fieldset>

        <fieldset id="actions">
            <input type="submit" id="submit" value="Submit" class="button1">            
        </fieldset>
       
    </div>
}
